
body {
    background-image: url(images/dices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#firstdice, #seconddice {
    margin: 20px;
    padding: 15px;
    background: rgb(231, 129, 3);
    width: 4%;
    font-size: 30px;
    text-align: center;
    height: 45px;
    border-radius: 10%;
    color: whitesmoke;
}
#dice_container {
    margin: 2em;
    display: flex;
    justify-content: center;
}

h1 {
    color: coral;
    margin: 10px;
    display: flex;
    justify-content: center;
}
button {
    
 
    font-size: 20px;
    padding: 20px;
    background-color: crimson;
    border-radius: 20px;
    color: white;
    margin: 5em 32em;

} 
